#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.tittle {
  display: flex;
  color: black;
  background-color: #9C6644;
  padding: 0.5em;
  justify-content: center;
}

.p{
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.showButton{
  width: 30%;
}