<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coffee Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h1 class="tittle">Welcome to CoffeeWeb</h1>
    <p class="p">Refill your stomach with our delicious coffees</p>
  </div>

  <div class="buttonContainer">
    <ion-button expand="block" (click)="gotoMyCoffees()" class="showButton">Show Coffees</ion-button>
  </div>
</ion-content>
