<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add your coffee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">createCoffeePage</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="coffeeForm" (ngSubmit)="createCoffee()" class="formContainer">
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input formControlName="country" class="inputContainer"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('country')?.hasError('required') && getFormControl('country')?.touched">
      El pais es obligatorio.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Flavor</ion-label>
      <ion-input formControlName="flavor" class="inputContainer"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="getFormControl('flavor')?.hasError('required') && getFormControl('flavor')?.touched">
      El sabor es obligatorio.
    </ion-note>

    <ion-button expand="full" type="submit" [disabled]="!coffeeForm.valid" color="success" shape="round">Create</ion-button>
  </form>
</ion-content>
