<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Coffees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-item *ngFor="let c of coffees" color="medium">
    <ion-label class="l">
      <h1>Country: {{c.country}}</h1>
      <p>Flavor: {{c.flavor}}</p>
    </ion-label>
    <ion-button>Edit</ion-button>
    <ion-button (click)="deleteCoffee(c.id)" class="deleteButton" color="danger">Delete</ion-button>
  </ion-item>

  <ion-button (click)="gotoMyCreateCoffee()" class="addButton">Add your coffee</ion-button>
  <ion-button (click)="goHome()">Go Home</ion-button>

</ion-content>