<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Coffees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let c of coffees">
    <ion-label>
      <h1>{{c.country}}</h1>
      <p>{{c.flavor}}</p>
    </ion-label>
    <ion-button>Edit</ion-button>
    <ion-button (click)="deleteCoffee(c.id)" class="deleteButton" color="danger">Delete</ion-button>
  </ion-item>

  <ion-button (click)="gotoMyCreateCoffee()" class="addButton">Add your coffee</ion-button>
  
</ion-content>

